/* MESSENGER STYLE */
.Messages_MESSENGER {
  position: absolute;
  top: 32px;
  bottom: 48px;
  left: 0;
  right: 0;
  padding-top: 6px;
  overflow-y: scroll;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}

.Messages-wrapper_MESSENGER {
  position: relative;
  height: 100%;
}

.Messages-list_MESSENGER {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-family: sans-serif;
  width: 100%;
}

/* FLOAT STYLE */
.Messages_FLOAT {
  position: absolute;
  bottom: 48px;
  left: 0;
  right: 0;
  paddingTop: 6px;
  paddingBottom: 6px;
  boxSizing: border-box;
}

.Messages-wrapper_FLOAT {
  position: relative;
  height: 100%;
}

.Messages-list_FLOAT {
  margin: 0;
  padding: 0;
  listStyle: none;
  fontSize: 14px;
  fontFamily: sans-serif;
  width: 100%;
}



  /* SIDEBAR STYLE*/

.Messages_SIDEBAR {
  position: absolute;
  top: 0;
  bottom: 48px;
  left: 0;
  right: 0;
  paddingTop: 6px;
  borderRight: 1px solid #ccc;
  boxSizing: border-box;
}

.Messages-wrapper_SIDEBAR {
  position: relative;
  height: 100%;
}

.Messages-list_SIDEBAR {
  margin: 0;
  padding: 0;
  listStyle: none;
  fontSize: 14px;
  fontFamily: sans-serif;
  width: 100%;
}