/* MESSENGER */

.messages-messenger {
  position: absolute;
  top: 32px;
  bottom: 48px;
  left: 0;
  right: 0;
  padding-top: 6px;
  overflow-y: scroll;
  border-right: 1px solid #cccccc;
  box-sizing: border-box;
}

.closed .messages-messenger {
  display: none;
}

.messages-wrapper-messenger {
  position: relative;
  height: 100%;
}

.messages-list-messenger {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-family: sans-serif;
  width: 100%;
}

/* FLOAT */

.messages-float {
  position: absolute;
  bottom: 48px;
  left: 0;
  right: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  box-sizing: border-box;
}

.closed .messages-float {
  display: none;
}

.messages-wrapper-float {
  position: relative;
  height: 100%;
}

.messages-list-float {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-family: sans-serif;
  width: 100%;
}

/* SIDEPANEL */

.messages-sidepanel {
  position: absolute;
  top: 0;
  bottom: 48px;
  left: 0;
  right: 0;
  padding-top: 6px;
  /*border-right: 1px solid #cccccc;*/
  box-sizing: border-box;
}

.closed .messages-sidepanel {
  display: none;
}

.messages-wrapper-sidepanel {
  position: relative;
  height: 100%;
}

.messages-list-sidepanel {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-family: sans-serif;
  width: 100%;
}