/* MESSENGER */

.Messages_MESSENGER {
  position: absolute;
  top: 32px;
  bottom: 48px;
  left: 0;
  right: 0;
  padding-top: 6px;
  overflow-y: scroll;
  border-right: 1px solid #cccccc;
  box-sizing: border-box;
}

.Messages-wrapper_MESSENGER {
  position: relative;
  height: 100%;
}

.Messages-list_MESSENGER {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-family: sans-serif;
  width: 100%;
}

/* FLOAT */

.Messages_FLOAT {
  position: absolute;
  bottom: 48px;
  left: 0;
  right: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  box-sizing: border-box;
}

.Messages-wrapper_FLOAT {
  position: relative;
  height: 100%;
}

.Messages-list_FLOAT {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-family: sans-serif;
  width: 100%;
}

/* SIDEPANEL */

.Messages_SIDEPANEL {
  position: absolute;
  top: 0;
  bottom: 48px;
  left: 0;
  right: 0;
  padding-top: 6px;
  /*border-right: 1px solid #cccccc;*/
  box-sizing: border-box;
}

.Messages-wrapper_SIDEPANEL {
  position: relative;
  height: 100%;
}

.Messages-list_SIDEPANEL {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-family: sans-serif;
  width: 100%;
}