/* Messenger Theme */

.Notification__messenger {
  display: flex;
  background: rgba(243, 156, 18, 0.5);
  padding: 8px;
}


.Notification__messenger-disconnected {
  display: flex;
  background: rgba(235, 110, 96, 1);
  color: rgba(255, 255, 255, 1);
  padding: 8px 12px;
  border-right: 1px solid rgba(0,0,0,0.1);
}

.Notification__messenger-reconnected {
  display: flex;
  background: rgba(137, 220, 203, 1);
  color: rgba(255, 255, 255, 1);
  padding: 8px 12px;
  border-right: 1px solid rgba(0,0,0,0.1);
}

.Notification__messenger-reconnecting {
  display: flex;
  background: rgba(235, 190, 117, 1);
  color: rgba(255, 255, 255, 1);
  padding: 8px 12px;
  border-right: 1px solid rgba(0,0,0,0.1);
}


/* Float Theme */

/* .Notification--float {
}

.closed .Notification--float {
}

.Notification__title--float {
}

.Notification__closeBtn--float {
} */
