/* MESSANGER */

.input-messenger {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  border: 0;
  border-right: 1px solid #cccccc;
  border-top: 1px solid #dddddd;
  background-color: #ffffff;
  padding: 8px;
  color: #222222;
  font-size: 11px;
  resize: none;
  outline: 0;
}

.input-messenger:disabled {
  background-color: #efefef;
}

.closed .input-messenger {
  display: none;
}

/* FLOAT */

.input-float {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  box-shadow: #dddddd 1px 1px 8px 0;
  border: 0;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 16px;
  color: #222222;
  font-size: 13px;
  resize: none;
  outline: 0;
}

.input-float:disabled {
  background-color: #e1e1e1;
}

.closed .input-float {
  display: none;
}

/* SIDEPANEL */

.input-sidepanel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  border: 0;
  border-top: 1px solid #dddddd;
  /*border-right: 1px solid #cccccc;*/
  background-color: #ffffff;
  padding: 8px;
  color: #222222;
  font-size: 11px;
  resize: none;
  outline: 0;
}

.input-sidepanel:disabled {
  background-color: #e1e1e1;
}

.closed .input-sidepanel {
  display: none;
}