/* MESSANGER */

.message-operatorPicture-messenger {
  width: 48px;
  height: 48px;
  float: right;
  margin-top: 4px;
  box-sizing: border-box;
  padding: 0 4px;
}

.message-operatorPictureImage-messenger {
  width: 40px;
  height: 40px;
}

.message-operatorContent-messenger {
  margin: 0;
  padding: 6px;
  list-style: none;
  width: 160px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 10px 0 10px 10px;
  background: #e1e1e1;
  color: #000000;
  float: right;
  text-align: right;
}

.message-userContent-messenger {
  margin: 0;
  list-style: none;
  width: 160px;
  float: left;
  text-align: left;
  background: #0a6bef;
  margin-top: 0;
  margin-left: 4px;
  border-radius: 10px 10px 10px 0;
  padding: 6px;
  color: #ffffff;
}

/* .letschat-message { } */
/* .letschat-message-timestamp{ }*/

/* FLOAT */

.message-operatorPicture-float {
  position: absolute;
  left: -48px;
  width: 48px;
  height: 48px;
  float: right;
  margin-top: -16px;
  box-sizing: border-box;
  padding: 0 4px;
}

.message-operatorPictureImage-float {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.message-operatorContent-float {
  margin: 0;
  list-style: none;
  width: 160px;
  float: left;
  text-align: left;
  background: #ffffff;
  color: #000000;
  margin-top: 4px;
  margin-left: 4px;
  box-shadow: #dddddd 1px 1px 8px 0;
  border-radius: 0 10px 10px 10px;
  padding: 16px;
}

.message-userContent-float {
  margin: 0;
  padding: 16px;
  list-style: none;
  width: 160px;
  margin-top: 4px;
  margin-bottom: 4px;
  box-shadow: #dddddd 1px 1px 8px 0;
  border-radius: 10px 10px 0 10px;
  background: #0a6bef;
  float: right;
  text-align: right;
  color: #ffffff;
  }


/* SIDEPANEL */

.message-operatorPicture-sidepanel {
  width: 48px;
  height: 48px;
  float: right;
  margin-top: 4px;
  box-sizing: border-box;
  padding: 0 4px;
}

.message-operatorPictureImage-sidepanel {
  width: 40px;
  height: 40px;
}

.message-operatorContent-sidepanel {
  margin: 0;
  padding: 6px;
  list-style: none;
  width: 160px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 10px 0 10px 10px;
  background: #e1e1e1;
  color: #000000;
  float: right;
  text-align: right;
}

.message-userContent-sidepanel {
  margin: 0;
  list-style: none;
  width: 160px;
  float: left;
  text-align: left;
  background: #0a6bef;
  margin-top: 0;
  margin-left: 4px;
  border-radius: 10px 10px 10px 0;
  padding: 6px;
  color: #ffffff;
}