.Message-userContent {
  margin: 0;
  list-style: none;
  width: 160px;
  float: left;
  text-align: left;
  background: #0a6bef;
  margin-top: 0;
  margin-left: 4px;
  border-radius: 10px 10px 10px 0;
  padding: 6px;
  color: white;
}

.Message-operatorPictureImage{
  width: 40px;
  height: 40px;
}

.Message-operatorPictureImage{
  width: 40px;
  height: 40px;
}

.Message-operatorPicture {
  width: 48px;
  height: 48px;
  float: right;
  marginTop: 4px;
  boxSizing: border-box;
  padding: 0 4px;
}

.Message-operatorContent {
  margin: 0;
  padding: 6px;
  list-style: none;
  width: 160px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 10px 0 10px 10px;
  background: #e1e1e1;
  float: right;
  text-align: right;
}

.letschat-message {

}

.letschat-message-timestamp{

}